<b><strong>Actividades:</strong><table style="width:100%; border:1px solid black;">
  <tr style="border:1px solid black;">
    <th style="border:1px solid black;">Actividades</th>
    <th style="border:1px solid black;">Veces Utilizada</th>
    <th style="border:1px solid black;">Funcion</th>
    <th style="border:1px solid black;">No Funcion</th>
  </tr><tr>
    <td style="border:1px solid black;">Diario</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
  </tr><tr>
    <td style="border:1px solid black;">Dibujo</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
  </tr><tr>
    <td style="border:1px solid black;">Musica</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
  </tr><tr>
    <td style="border:1px solid black;">Psicoeducacion</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
  </tr><tr>
    <td style="border:1px solid black;">Gratitud</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
  </tr><tr>
    <td style="border:1px solid black;">Meditacion</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
  </tr><tr>
    <td style="border:1px solid black;">Respiracion</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
  </tr><tr>
    <td style="border:1px solid black;">Atencion Plena</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
  </tr><tr>
    <td style="border:1px solid black;">Mascota</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
  </tr><tr>
    <td style="border:1px solid black;">Caminar</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
  </tr><tr>
    <td style="border:1px solid black;">Baño</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
  </tr><tr>
    <td style="border:1px solid black;">Ejercicio</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
  </tr><tr>
    <td style="border:1px solid black;">Cocinar</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
  </tr><tr>
    <td style="border:1px solid black;">Hablar</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
  </tr><tr>
    <td style="border:1px solid black;">Espiritualidad</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
  </tr><tr>
    <td style="border:1px solid black;">Descanso</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
  </tr><tr>
    <td style="border:1px solid black;">Aceptacion</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
    <td style="border:1px solid black;">0</td>
  </tr></table><strong>Logros:</strong><table style="width:100%; border:1px solid black;">
  <tr style="border:1px solid black;">
    <th style="border:1px solid black;">Fecha de Obtención</th>
    <th style="border:1px solid black;">Logro Optenido</th>
  </tr></table><strong>Diario:</strong><table style="width:100%; border:1px solid black;">
  <tr style="border:1px solid black;">
    <th style="border:1px solid black;">Fecha</th>
    <th style="border:1px solid black;">Entrada de Diario</th>
  </tr></table><strong>Graficas:</strong>
<table width="400" cellspacing="0" cellpadding="0" border="0" style="font-family: Arial, sans-serif;">
<tr>
    <td align="center" style="padding-bottom: 10px;">
        <strong>Detonantes</strong>
    </td>
</tr>
<tr>
    <td>
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tr>
                <td align="center">
                    <table cellspacing="5" cellpadding="0" border="0" height="250">
                        <tr valign="bottom" align="center">
                            <td width="60">
                                <div style="height:NaNpx; width:50px; background-color:#8f79b2;"></div>
                                Pareja
                            </td>
                            <td width="60">
                                <div style="height:NaNpx; width:50px; background-color:#da88b9;"></div>
                                Familia
                            </td>
                            <td width="60">
                                <div style="height:NaNpx; width:50px; background-color:#1e76ba;"></div>
                                Amistades
                            </td>
                            <td width="60">
                                <div style="height:NaNpx; width:50px; background-color:#524566;"></div>
                                Perdida
                            </td>
                            <td width="60">
                                <div style="height:NaNpx; width:50px; background-color:#4eb5a3;"></div>
                                Estudios
                            </td>
                            <td width="60">
                                <div style="height:NaNpx; width:50px; background-color:#5b8caf;"></div>
                                Trabajo
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
<table width="400" cellspacing="0" cellpadding="0" border="0" style="font-family: Arial, sans-serif;">
<tr>
    <td align="center" style="padding-bottom: 10px;">
        <strong>Emociones</strong>
    </td>
</tr>
<tr>
    <td>
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tr>
                <td align="center">
                    <table cellspacing="5" cellpadding="0" border="0" height="250">
                        <tr valign="bottom" align="center">
                            <td width="60">
                                <div style="height:NaNpx; width:50px; background-color:#8f79b2;"></div>
                                Felicidad
                            </td>
                            <td width="60">
                                <div style="height:NaNpx; width:50px; background-color:#da88b9;"></div>
                                Ansiedad
                            </td>
                            <td width="60">
                                <div style="height:NaNpx; width:50px; background-color:#1e76ba;"></div>
                                Miedo
                            </td>
                            <td width="60">
                                <div style="height:NaNpx; width:50px; background-color:#524566;"></div>
                                Tristeza
                            </td>
                            <td width="60">
                                <div style="height:NaNpx; width:50px; background-color:#4eb5a3;"></div>
                                Coraje
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
<table width="400" cellspacing="0" cellpadding="0" border="0" style="font-family: Arial, sans-serif;">
 <tr>
     <td align="center" style="padding-bottom: 10px;">
         <strong>Actividades</strong>
     </td>
 </tr>
 <tr>
    <td>
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tr>
                <td align="center">
                    <table cellspacing="5" cellpadding="0" border="0" height="250">
                        <tr valign="bottom" align="center">
 </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table></b>