<b>
    <table width="400" cellspacing="0" cellpadding="0" border="0" style="font-family: Arial, sans-serif;">
        <tr>
            <td align="center" style="padding-bottom: 10px;">
                <strong>Detonantes</strong>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <td align="center">
                            <table cellspacing="5" cellpadding="0" border="0" height="250">
                                <tr valign="bottom" align="center">
                                    <td width="60">
                                        <div style="height:0px; width:50px; background-color:#8f79b2;"></div>
                                        Pareja
                                    </td>
                                    <td width="60">
                                        <div style="height:0px; width:50px; background-color:#da88b9;"></div>
                                        Familia
                                    </td>
                                    <td width="60">
                                        <div style="height:0px; width:50px; background-color:#1e76ba;"></div>
                                        Amistades
                                    </td>
                                    <td width="60">
                                        <div style="height:0px; width:50px; background-color:#524566;"></div>
                                        Perdida
                                    </td>
                                    <td width="60">
                                        <div style="height:0px; width:50px; background-color:#4eb5a3;"></div>
                                        Estudios
                                    </td>
                                    <td width="60">
                                        <div style="height:200px; width:50px; background-color:#5b8caf;"></div>
                                        Trabajo
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table width="400" cellspacing="0" cellpadding="0" border="0" style="font-family: Arial, sans-serif;">
        <tr>
            <td align="center" style="padding-bottom: 10px;">
                <strong>Emociones</strong>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <td align="center">
                            <table cellspacing="5" cellpadding="0" border="0" height="250">
                                <tr valign="bottom" align="center">
                                    <td width="60">
                                        <div style="height:200px; width:50px; background-color:#8f79b2;"></div>
                                        Felicidad
                                    </td>
                                    <td width="60">
                                        <div style="height:0px; width:50px; background-color:#da88b9;"></div>
                                        Ansiedad
                                    </td>
                                    <td width="60">
                                        <div style="height:0px; width:50px; background-color:#1e76ba;"></div>
                                        Miedo
                                    </td>
                                    <td width="60">
                                        <div style="height:0px; width:50px; background-color:#524566;"></div>
                                        Tristeza
                                    </td>
                                    <td width="60">
                                        <div style="height:0px; width:50px; background-color:#4eb5a3;"></div>
                                        Coraje
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
      <table width="400" cellspacing="0" cellpadding="0" border="0" style="font-family: Arial, sans-serif;">
         <tr>
             <td align="center" style="padding-bottom: 10px;">
                 <strong>Actividades</strong>
             </td>
         </tr>
         <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <td align="center">
                            <table cellspacing="5" cellpadding="0" border="0" height="250">
                                <tr valign="bottom" align="center">
         <td width="60">
                        <div style="height:200px; width:50px; background-color:#8f79b2;"></div>
                        Diary
                      </td></tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table></b>